.card{
    border: 1px solid salmon;
    display: block;
    height: 340px;
    padding: 10px;
    width: 150px;
  }


  .estiloLinkNavegacion{

    text-decoration: none;
    list-style: none;

  }

.ulEnNav{
    display:flex;
    justify-content: space-between;
    border: 1px solid;
  }

  .imagenLogo{  
      height: 100px;
      width: 100px;
  }